<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="go-import" content="fdb.dev git https://github.com/birdayz/fdb-go" />
<meta name="go-source" content="fdb.dev https://github.com/birdayz/fdb-go https://github.com/birdayz/fdb-go/tree/master{/dir} https://github.com/birdayz/fdb-go/blob/master{/dir}/{file}#L{line}" />
<meta http-equiv="refresh" content="0; url=https://pkg.go.dev/{{ .Title }}" />
<title>{{ .Title }}</title>
</head>
<body>
Go package <code>{{ .Title }}</code>. See <a href="https://pkg.go.dev/{{ .Title }}">pkg.go.dev</a> or the <a href="https://github.com/birdayz/fdb-go">source</a>.
</body>
</html>
